.container-title {
  text-align: center;
}
.section-news {
  margin-left: 1rem;
  letter-spacing: 1.5px;
  padding: 0 0.5rem;
  padding: 0.5rem;
  max-width: max-content;
}
.section-new {
  border-bottom: 1px solid #d4d5d7;
  margin-bottom: 2rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img {
  width: 40%;
  height: 10%;
}
.container-products {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 5rem;
}
.product-description {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.shoes-section{
  display: block;
}
.shoes{
  margin-top: 5rem;
}
.container-image-animate {
  animation: shoes 2s linear infinite;
}
@media (min-width:320px) {
  .container-image-animate {
    width: 200px;
  }
}
@media (min-width:640px) {
  .container-image-animate {
    width: 40%;
  }
}
@media (max-width:768px) {
  .container-shoes {
    flex-direction: column;
  }
}
@keyframes shoes {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
  
}