.card-price {
  display: flex;
  align-items: center;
}

.card-button-- {
  outline: none;
  text-decoration: none;
  border: none;
}

.card-button--:hover {
  color: #fff;
}

.stars-image {
  width: 7rem;
  height: 1.3rem;
}

.card-section {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  align-items: baseline;
}

.card-section-- {
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.card-text-- {
  color: #ff7733;
}
.card {
  max-height: 400px;
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}

.card-image {
  width: 30%;
  height: 60%;
  padding: 3rem;
  object-fit: contain;
  padding-top: 3rem;
  min-height: 200px;
  min-width: 400px;
  max-height: 400px;
  max-width: 400px;
}
